---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.col-2-container {
	display: flex;
	text-align: center;
}

.col-2 {
	flex: 1;  /* set flex-grow equal for all columns */
}

h1#student-portal-links {
	text-align: center;
}

.col-2 ul {
	list-style-type: none;
	margin: 0 auto;  /* horizonally center unordered list in column div */
}
